.img-slides{
    width: 100%;
    display: flex;
    justify-content: center;
}
.slides{
    width: 80%;
    height: auto;
    position: relative;
    margin-top: 100px;
}

.slides li img{
    width:100%;
    height: auto;
    max-height: 100vh;
    object-fit: contain;
    cursor: grab;
}
@media screen and (max-width:1024px){
   
    .slides{
        width: 95%;
        margin-top: 80px;
    }
    

    
}


