*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width:100%;
    z-index:9999999999 ;

}
header .headerBg{
    width: 100%;
    height: auto;
    object-fit: cover;
    height: 390px;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #F3D038;
    padding: 15px 200px;
    transition: .5s ease;
    margin-top: -5px;
    z-index: 9999999999;
}
nav.sticky{
    padding: 8px 150px;
    transition: .5s ease;
    position: fixed;
    top: 0;
}
nav .logo{
    width: 100px;
    height:58px;
}
nav .logo img{

    width: 100%;
    height: 100%;
    
}
nav > .navlist{
    display: flex;
    align-items: center;
    list-style: none;
}

nav > .navlist > .navTitle{
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    color:#444;
    border-left: 3px #DB632E solid;
    position: relative;
    transition: .5s;
}
nav > .navlist > .navTitle.sticky{
    font-size: 20px;
    transition: .5s;
}
nav > .navlist > .navTitle:nth-child(1){
    border-left: none;
}

nav  .navTitle > ul{
    width: 150px;
    position: absolute;
    top: 80px;
    left: 0;
    list-style: none;
    background:#F3D038 ;
}
nav .navTitle > ul li{
    width:100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav > .navlist > .navTitle:hover{
    filter: drop-shadow(2px 2px 5px #DB632E);
}
nav > .navlist img{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
nav .menu{
    display: none;
    z-index: 99999999999999;
}
main{
    width: 100%;
    min-height: 220vh;
    height: auto;
    background: #EDBE6B;
    padding-bottom: 50px ;
    
}

main .latestNews,
main .courseAlbum,
main .contactUs{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
main .latestNews .newsBox,
main .courseAlbum .albumBox,
main .contactUs .contactBox{
    width: 80%;
    min-height: 500px;
    height: auto;
    background: #ffffff;
    border-radius: 15px;
    position: relative;
    z-index: 9;
}
main .latestNews .newsBox .newtitle,
main .courseAlbum .albumBox .albumtitle,
main .contactUs .contactBox .contacttitle{
    position: absolute;
    top: -50px;
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    padding-right: 5px;
    padding-top: 8px;
    font-size: 1.8rem;
    z-index: -1;
}
.newtitle1,.albumtitle1,.contacttitle1{
    left:30px;
}
.newtitle2 ,.albumtitle2,.contacttitle2{
    left:90px;
}
.newtitle3,.albumtitle3,.contacttitle3{
    left:150px;
}
.newtitle4,.albumtitle4,.contacttitle4{
    left:210px;
}
main .latestNews .newsBox .newsHeader{
    width: 100%;
    height: 70px;
    background: #16843C;
    display: flex;
    align-items: center;
    padding-left: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
main .latestNews .newsBox .newsHeader h1,
main .courseAlbum .albumBox .albumHeader h1,
main .contactUs .contactBox .contactHeader h1{
    color:#fff;
    position: relative;
}
main .latestNews .newsBox .newsHeader h1::after,
main .courseAlbum .albumBox .albumHeader h1::after,
main .contactUs .contactBox .contactHeader h1::after{
    content:'';
    background: #fff;
    width: 20px;
    height: 3px;
    position: absolute;
    left: -25px;
    top: 50%;
}
main .latestNews .newsBox .newsHeader h1::before,
main .courseAlbum .albumBox .albumHeader h1::before,
main .contactUs .contactBox .contactHeader h1::before{
    content:'';
    background: #fff;
    width: 20px;
    height: 3px;
    position: absolute;
    right: -25px;
    top: 50%;
}
main .latestNews .newsBox .newItem,
main .courseAlbum .albumBox .albumBox .albumItem{
    width: 100%;
    padding:10px 30px;
}
main .latestNews .newsBox .newItem .newItemTitle{
    width: 100%;
    height:50px;
    border-bottom: 1px dashed #000;
    cursor: pointer;
    line-height: 50px;
    font-size: 1.2rem;
    position: relative;
}


main .latestNews .newsBox .newItem .newItemTitle > i{
    position: absolute;
    top: 25%;
    right: 20px;
}
main .latestNews .newsBox .newItem .newItemContent{
    width: 100%;
    height: 0;
    background: rgba(237, 190, 107, .6);
    overflow: hidden;
    transition: .5s;
    overflow-y: scroll;
    
}
main .latestNews .newsBox .newItem .newItemContent p{
    padding: 10px;
    height: auto;
}
main .latestNews .newsBox .newItem .newItemContent::-webkit-scrollbarr{
    width: .5rem;
    background: rgba(237, 190, 107, .3);
    border-radius: 5PX;
}
main .latestNews .newsBox .newItem .newItemContent::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  }
    
main .latestNews .newsBox .newItem .newItemContent::-webkit-scrollbar-thumb{
    background-color: rgba(237, 190, 107, 1);
    border-radius: 5px;
  }
main .latestNews .newsBox .newItem .newItemContent.active{
    transition: .5s ;
    height: 250px;

}

main .courseAlbum .albumBox .albumHeader{
    width: 100%;
    height: 70px;
    background: #126EB6;
    display: flex;
    align-items: center;
    padding-left: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
main .courseAlbum .albumBox .albumContent{
    display: flex;
    justify-content: space-around;
    position: relative;
}
main .courseAlbum .albumBox .albumContent .albumItem{
    width: 30%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
    cursor: pointer;
    
}
main .courseAlbum .albumBox .albumContent .albumItem:hover>.albumImg .bg-touch{
    opacity: 1;
    transition: .5s;
}
main .courseAlbum .albumBox .albumContent .albumItem .albumImg{
    position: relative;

}
main .courseAlbum .albumBox .albumContent .albumItem .albumImg .bg-touch{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: rgba(235, 117, 66, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

}
main .courseAlbum .albumBox .albumContent .albumItem .albumImg .albumPhoto{
    width:300px;
    height: 300px;
    object-fit: cover;
    z-index: 8;
}
main .courseAlbum .albumBox .albumContent .albumItem > p{
    margin-top: 15px;
    border-top: 1px #000 dashed;
    width: 300px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    color:#EB7542;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.albumTopLeft{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    z-index: 99;

}
.albumTopRight{
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    z-index: 99;
}
main .contactUs .contactBox .contactHeader{
    width: 100%;
    height: 70px;
    background: #945625;
    display: flex;
    align-items: center;
    padding-left: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
main .contactUs .contactBox .contactContent{
    padding: 15px;
}
main .contactUs .contactBox .contactContent .contactLeft{
    display: flex;
    flex-direction: column;
}
main .contactUs .contactBox .contactContent .contactLeft label{
    width: 300px;
    background: #B07C3D;
    height: 40px;
    border-radius: 30px;
    display: flex;
    line-height: 40px;
    padding-left:15px;
    color:#fff;
    font-weight: 600;
    border:1px #B07C3D solid;
    margin: 20px 0;
}
main .contactUs .contactBox .contactContent .contactLeft label>p{
    width: 50px;
}
main .contactUs .contactBox .contactContent .contactLeft label > input{
    height: 37px;
    width:250px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 5px;
}
footer{
    width: 100%;
    color:#fff;
}
footer >img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
footer .footerbg{
    position: absolute;
    width: 100%;
}

@media screen and (max-width:1130px){
    nav{
        
        padding: 20px 100px;
       
    }
}
@media screen and (max-width:1024px){
    nav{
        margin-top: 0px;
        position: fixed;
        top: 0;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }
    nav .menu{
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 42px;
        color:#DB632E;
        z-index: 9999999;
    }
    
    nav .navlist{
        width: 100%;
        height: 0;
        overflow: hidden;
        position: fixed;
        top: 80px;
        left: 0;
        background: linear-gradient(to bottom,rgba(217, 96, 46, .9),rgba(217, 96, 46, .4));
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: .5s ease;
    }
    
    nav .navlist.height{
        height: calc(100% - 80px);
    }
    nav > .navlist > .navTitle{
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 30px;
        font-weight: 700;
        color:#fff;
        border-left: none;
        position: relative;
        transition: .5s;
    }
    nav > .navlist > .navTitle.sticky{
        font-size: 30px;
        transition: .5s;
    }
}